.icon-SimpleConnectLogo .path1:before {
  content: "\e900";
  color: #f27237;
}
.icon-SimpleConnectLogo .path2:before {
  content: "\e901";
  color: #000;
  margin-left: -6.3037109375em;
}
.icon-SimpleConnectLogo .path3:before {
  content: "\e902";
  color: #000;
  margin-left: -6.3037109375em;
}
.icon-SimpleConnectLogo .path4:before {
  content: "\e903";
  color: #000;
  margin-left: -6.3037109375em;
}
.icon-SimpleConnectLogo .path5:before {
  content: "\e904";
  color: #000;
  margin-left: -6.3037109375em;
}
.icon-SimpleConnectLogo .path6:before {
  content: "\e905";
  color: #000;
  margin-left: -6.3037109375em;
}
.icon-SimpleConnectLogo .path7:before {
  content: "\e906";
  color: #000;
  margin-left: -6.3037109375em;
}
.icon-SimpleConnectLogo .path8:before {
  content: "\e907";
  color: #f27237;
  margin-left: -6.3037109375em;
}
.icon-SimpleConnectLogo .path9:before {
  content: "\e908";
  color: #f27237;
  margin-left: -6.3037109375em;
}
.icon-SimpleConnectLogo .path10:before {
  content: "\e909";
  color: #f27237;
  margin-left: -6.3037109375em;
}
.icon-SimpleConnectLogo .path11:before {
  content: "\e90a";
  color: #f27237;
  margin-left: -6.3037109375em;
}
.icon-SimpleConnectLogo .path12:before {
  content: "\e90b";
  color: #f27237;
  margin-left: -6.3037109375em;
}
.icon-SimpleConnectLogo .path13:before {
  content: "\e90c";
  color: #f27237;
  margin-left: -6.3037109375em;
}
.icon-SimpleConnectLogo .path14:before {
  content: "\e90d";
  color: #f27237;
  margin-left: -6.3037109375em;
}